                                       

@define winPanelPosY: 210px;
@define winPanelWidth: 1020px;
@define winPanelHeight: 78px;
@define musicKitAnimDuration: 0.0s;


CSGOHudWinPanel Label
{
    font-family: Stratum2, 'Arial Unicode MS';
}


                                                                               
                                                                               
                                                                               

.WinPanelRoot
{
	width: winPanelWidth;
	height: 500px;

	horizontal-align: center;
	y: winPanelPosY;

	flow-children: down;
}

.WinPanelRoot--ShowAnim
{
	opacity: 1.0;
	animation-name: WinPanelRootShowAnim;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.WinPanelRoot--HideAnim
{
	opacity: 0.0;
	animation-name: WinPanelRootHideAnim;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.WinPanelRoot--ForceHide
{
	visibility: collapse;
}

@keyframes 'WinPanelRootShowAnim'
{
	0%
	{
		 opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}

@keyframes 'WinPanelRootHideAnim'
{
	0%
	{
		 opacity: 1.0;
	}

	100%
	{
		opacity: 0.0;
	}
}

                                                                               
                                                                               
                                                                               

.WinPanelRow
{
	width: 100%;
	margin-bottom: 0px;
}

.WinPanelRow--Hidden
{
	visibility: collapse;
}

.WinPanelRow--Main
{
	height: winPanelHeight;
}

.WinPanelRow--FlowDown
{
	flow-children: down;
}

.WinPanelRow--Anim
{
	opacity: 1.0;
	
	animation-name: WinPanelRowAnim;
	animation-duration: 0.0s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'WinPanelRowAnim'
{
	0%
	{
		opacity: 0.0; 
		transform: translateY( 300px );
	}

	100%
	{
		opacity: 1.0; 
		transform: translateY( 0px );
	}
}

.WinPanelRow__Title
{
	width: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.20, #00000033 ) , color-stop(0.50, #00000066), color-stop( 0.80, #00000033 ), to( #00000000 ) );
	padding: 5px;
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	text-shadow-fast: 2px 1px #000000bf;
}

.WinPanelRow__Title--Bold
{
	                    
}

.WinPanelRow__Body
{
	width: 100%;
	background-color: #00000060;
	padding: 5px;
}

.WinPanelRow__Body--FlowDown
{
	flow-children: down;
}


                                                                               
                                                                               
                                                                               

.WinPanelTeam
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.WinPanelRoot--CTWin .WinPanelTeam,
.WinPanelRoot--TWin .WinPanelTeam,
.WinPanelRoot--Draw .WinPanelTeam
{
	visibility: visible;
}

                                                                               
                                                                               
                                                                               

.TeamBG
{
	width: 100%;
	height: 100%;
}

.TeamBG__hrTop { 
	width: 100%;
	height: 1px;
	vertical-align: top;
	z-index: 5;
}

.TeamBG__hrMid { 
	width: 100%;
	height: 1px;
	y: 80px;
	z-index: 5;
}

.TeamBG__hrBot { 
	width: 100%;
	height: 1px;
	vertical-align: bottom;
	z-index: 5;
}

.TeamBG__Border
{
	width: 100%;
	height: 100%;
	padding: 3px;
}

.TeamBG__MainBG
{
	width: 100%;
	height: 100%;
	z-index: 4;
}

.TeamBG__TitleBG
{
	width: 100%;
	height: 39px;
	y: 4px;
	                                                                                                                                                                                                                         
}

.TeamBG__DefaultLogo
{
	width: 88px;
	height: 88px;
	horizontal-align: center;
	vertical-align: top;
	margin-top: -82px;
	opacity: 1;
	background-size: contain;
	background-repeat: no-repeat;
	visibility: visible;
	z-index: 10;
}

.WinPanelRoot--ShowTeamLogo .TeamBG__DefaultLogo
{
	visibility: collapse;
}

.TeamBG__TeamLogo
{
	width: 90px;
	height: 90px;
	horizontal-align: center;
	vertical-align: top;
	margin-top: -84px;
	opacity: 1;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 10;
	visibility: collapse;
}

.WinPanelRoot--ShowTeamLogo .TeamBG__TeamLogo
{
	visibility: visible;
}

                        

.WinPanelRoot--CTWin .TeamBG__hrTop
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.20, #000000cc ) , color-stop(0.50, #000000ff), color-stop( 0.80, #000000cc ), to( #00000000 ) );
}


.WinPanelRoot--CTWin .TeamBG__hrBot
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.20, #000000cc ) , color-stop(0.50, #000000ff), color-stop( 0.80, #000000cc ), to( #00000000 ) );
}

.WinPanelRoot--CTWin .TeamBG__Border
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A7182 ), to( #1F2A31 ) );
}

.WinPanelRoot--CTWin .TeamBG__MainBG
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #0c101300 ), color-stop( 0.20, #18202599 ) , color-stop(0.50, #182025e6), color-stop( 0.80, #18202599 ), to( #18202500 ) );
}

.WinPanelRoot--CTWin .TeamBG__DefaultLogo
{
	background-image: url( "file://{images}/icons/ct_logo.svg" );
	horizontal-align: center;
}

.WinPanelRoot--CTWin .TeamFG__Title
{
	color: color-CT;
}

                       

.WinPanelRoot--TWin .TeamBG__hrTop
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #5A4C2F00 ), color-stop( 0.20, #5A4C2F00 ) , color-stop(0.5, #5A4C2F45), color-stop( 0.80, #5A4C2F00 ), to( #5A4C2F00 ) );
}

.WinPanelRoot--TWin .TeamBG__hrBot
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.20, #000000cc ) , color-stop(0.50, #000000ff), color-stop( 0.80, #000000cc ), to( #00000000 ) );
}

.WinPanelRoot--TWin .TeamBG__MainBG
{
	                            
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #261A0900 ), color-stop( 0.20, #2d231599 ) , color-stop(0.50, #2d2315e6), color-stop( 0.80, #2d231599 ), to( #261A0900 ) );
}

.WinPanelRoot--TWin .TeamBG__DefaultLogo
{
	background-image: url( "file://{images}/icons/t_logo.svg" );
	horizontal-align: center;
}

.WinPanelRoot--TWin .TeamFG__Title
{
	color: color-T;
}


                      

.WinPanelRoot--Draw .TeamBG__Border
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A7182 ), to( #1F2A31 ) );
}

.WinPanelRoot--Draw .TeamBG__MainBG
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.20, #00000099 ) , color-stop(0.50, #000000e6), color-stop( 0.80, #00000099 ), to( #00000000 ) );
}

.WinPanelRoot--Draw .TeamBG__DefaultLogo
{
	visibility: collapse;
}

                                                                               
                                                                               
                                                                               

.TeamFG
{
	width: 100%;
	height: 100%;
}

.TeamFG__Title
{
	width: 100%;
	vertical-align: top;
	font-weight: bold;
	font-size: 26px;
    color: #dadada;
	letter-spacing: 0.5px;
	text-align: center;
	y: 6px;
}

.TeamFG__Surrender
{
	y: 34px;
	width: 100%;

	font-size: 16px;
    color: white;
	letter-spacing: 0px;
	text-align: center;

	vertical-align: top;
}


                                                                               
                                                                               
                                                                               

.WinPanelGunGame
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.WinPanelRoot--GunGame .WinPanelGunGame
{
	visibility: visible;
}


                                                                               
                                                                                  
                                                                               

.GunGameBG
{
	width: 100%;
	height: 100%;

	opacity: 0.98;
}

.GunGameBG__Border
{
	width: 100%;
	height: 100%;
	padding: 3px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A7182 ), to( #1F2A31 ) );
}

.GunGameBG__MainBG
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.20, #000000cc ) , color-stop(0.50, #000000ff), color-stop( 0.80, #000000cc ), to( #00000000 ) );
}

.GunGameBG__TitleBG
{
	width: 100%;
	height: 39px;
	y: 4px;

	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.20, #000000cc ) , color-stop(0.50, #000000ff), color-stop( 0.80, #000000cc ), to( #00000000 ) );
}


                                                                               
                                                                               
                                                                               

.GunGameFG
{
	width: 100%;
	height: 100%;
}

.GunGameFG__Title
{
	width: 100%;
	vertical-align: top;
	font-weight: bold;
	font-size: 30px;
    color: #a7a7a7;
	letter-spacing: 0.5px;
	text-align: center;
	y: 6px;
}


                                                                               
                                                                               
                                                                               

.MVP_content
{
	vertical-align: bottom;
	horizontal-align: center;
	visibility: visible;
	margin-bottom: 6px;
}	


.MVP
{
	flow-children: right;
	width: fit-children;
	horizontal-align: center;
	vertical-align: middle;
	                                                                                                                                                                                       
}

.MVP--Hidden
{
	visibility: collapse;
}

              
 
	               
	                    
   

.MVP__Layout--Hidden
{
	visibility: collapse;
}

.MVP__Layout--Left
{
}


.MVP__Layout--Right
{
	width: fit-children;
}

.MVP__Winner
{
	width: fit-children;
	                                  
	flow-children: right;
	                       
}

.MVP__WinnerStar
{
	height: 16px;
	vertical-align: middle;
	margin: 0px 2px 3px 0px;
}

.WinPanelRoot--GunGame .MVP__WinnerStar
{
	visibility: collapse;
}

.MVP__WinnerName
{
	vertical-align: middle;
	padding-left: 2px;
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
}

.WinPanelRoot--GunGame .MVP__WinnerName
{
	color: #ffffff;
}

.MVP__Avatar
{
	width: 32px;
	height: 32px;
	                          
	vertical-align: center;
	margin-right: 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6d6d6d ), to( #464646) );
}

.MVP__Avatar .AvatarImage
{
	padding: 2px;
}

.MVP__Avatar--ExtraMargin
{
	margin-left: 10px;
	margin-right: 10px;
}

  
                                    
 
	                  
 
  

.MVP__AvatarText
{
	vertical-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #999999;
}

.MVP__MusicKit
{
	flow-children: right;
	width: fit-children;
	                                  
	vertical-align: middle;
}

.MVP__MusicKit--Hidden
{
	visibility: collapse;
}

.MVP__MusicKitAnim
{
	visibility: collapse;
	flow-children: right;
	width: fit-children;
	vertical-align: middle;
	margin-left: 20px;
}


.MVP__MusicKitAnim--Scroll
{
	animation-name: MusicKitScrollAnim;
	animation-duration: musicKitAnimDuration;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}


@keyframes 'MusicKitScrollAnim'
{
	0%
	{
		opacity: 0.0; 
		transform: translateX( -300px );
	}

	25%
	{
		opacity: 1.0; 
		transform: translateX( 0px );
	}

	100%
	{
		opacity: 1.0; 
		transform: translateX( 0px );
	}
}

.MVP__MusicKitIcon
{
	width: fit-children;
	height: 30px;
	vertical-align: middle;
	margin-left: 15px;
}

.MVP__MusicKitText
{
	width: fit-children;
	font-size: 18px;
	color: #ffffff;
	vertical-align: middle;
}

.MVP__MusicKitInfoText
{
	visibility: collapse;
	width: fit-children;
	font-size: 18px;
	color: #ffffff;
	vertical-align: middle;
}

.MVP__MusicKitText--Bold
{
	                    
}

.MVP__MusicKitText--Hidden
{
	visibility: collapse;
}

.MVP__MusicKitText--AnimFadeOut
{
	opacity: 0.0;
	
	animation-name: MusicKitFadeOutAnim;
	animation-duration: musicKitAnimDuration;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	width: fit-children;
}

.MVP__MusicKitText--AnimFadeIn
{
	opacity: 1.0;

	animation-name: MusicKitFadeInAnim;
	animation-duration: musicKitAnimDuration;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	width: fit-children;
}

@keyframes 'MusicKitFadeOutAnim'
{
	0%
	{
		opacity: 1.0; 
	}

	68%
	{
		opacity: 1.0; 
	}

	86%
	{
		opacity: 0.0; 
	}

	100%
	{
		opacity: 0.0; 
	}
}

@keyframes 'MusicKitFadeInAnim'
{
	0%
	{
		opacity: 0.0; 
	}

	86%
	{
		opacity: 0.0; 
	}

	100%
	{
		opacity: 1.0; 
	}
}

.MVP__GunGameAvatars
{
	flow-children: right;
	vertical-align: center;
	margin-left: 10px;
}

.MVP__GunGameAvatars--Hidden
{
	visibility: collapse;
}

.MVP__GunGameAvatars--ScrollAnim
{
	opacity: 1.0;
	
	animation-name: AvatarScrollAnim;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'AvatarScrollAnim'
{
	0%
	{
		opacity: 0.0; 
		transform: translateX( -200px );
	}

	50%
	{
		opacity: 0.0; 
		transform: translateX( -200px );
	}

	100%
	{
		opacity: 1.0; 
		transform: translateX( 0px );
	}
}


                                                                               
                                                                               
                                                                               

.Medals
{
	horizontal-align: center;
	flow-children: right;
}

.Medals__Icon
{
	height: 56px;
	margin-right: 10px;
}

.Medals__Icon--Hidden
{
	visibility: collapse;
}

.Medals__Icon--Anim
{
	opacity: 1.0;
	
	animation-name: MedalsIconAnim;
	animation-duration: 0.8s;
	animation-delay: 0.1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'MedalsIconAnim'
{
	0%
	{
		opacity: 0.0;
		brightness: 1.0;
	}

	33%
	{
		opacity: 1.0;
		brightness: 1.0;
	}

	66%
	{
		opacity: 1.0;
		brightness: 4.0;
	}

	100%
	{
		opacity: 1.0;
		brightness: 1.0;
	}
}

                                                                               
                                                                               
                                                                               

.MedalStats
{
	width: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.20, #00000099 ) , color-stop(0.50, #000000e6), color-stop( 0.80, #00000099 ), to( #00000000 ) );
	padding: 5px;
	flow-children: right;
}

.MedalStats__Icon
{
	height: 30px;
	margin-right: 20px;
}

.MedalStats__Text
{
	font-size: 20px;
	font-weight: normal;
	color: white;
}


                                                                               
                                                                               
                                                                               

.RankUp 
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.20, #00000099 ) , color-stop(0.50, #000000e6), color-stop( 0.80, #00000099 ), to( #00000000 ) );
	padding: 15px 5px 15px 40px;
}

.RankUp__Text
{
	font-size: 22px;
	font-weight: normal;
	visibility: collapse;
}

.RankUp__Text--Bold
{
	font-weight: bold;
}

.RankUp__Text--Show,
.RankUp--SingleRank .RankUp__Text--SingleRank,
.RankUp--Coin .RankUp__Text--Coin,
.RankUp--MultiRank .RankUp__Text--MultiRank
{
	visibility: visible;
}


                                                                               
                                                                               
                                                                               

.GunGameExtra
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.30, #00000080 ) , color-stop(0.50, #000000a6), color-stop( 0.70, #00000080 ), to( #00000000 ) );
	padding: 5px;
}

.GunGameExtra__Center
{
	flow-children: right;
	horizontal-align: center;
}

.GunGameExtra__Text
{
	font-size: 18px;
	font-weight: normal;	
}

.GunGameExtra__Text--Bold
{
	font-weight: bold;	
}

.GunGameExtra__Icon
{
	wash-color: #ffffff;
	padding: 5px;
}