.eom-skillgroup {

	flow-children: none;

	horizontal-align: center;

}


.eom-skillgroup Label{

	text-shadow-fast: 2px 2px 2px 0.0 #000000ff;
}

                 

#id-eom-skillgroup{

	horizontal-align: center;


	               
	                

	horizontal-align: center;

	vertical-align: top;
	position: 0px 10px 0px;


	flow-children: none;

}




@keyframes 'eom-skillgroup-new'
{
	from
	{
		transform:scale3d(1.5, 1.5, 1);
		brightness: 1000;
	}

	80%
	{
		transform:scale3d(0.95, 0.95, 1);
	}

	to
	{
		transform:scale3d(1.00, 1.00, 1);
		brightness: 1;
	}
}


#id-eom-skillgroup--new__image-and-label{

	horizontal-align: center;
	flow-children: down;

	position:0px 0px 0px;

	animation-name: eom-skillgroup-new;
	animation-duration: 0.3s;
	animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	animation-iteration-count: 1;
	
}

#id-eom-skillgroup--new__image-and-label Label{

	font-weight: bold;
	font-size: 30px;

}


@keyframes 'eom-skillgroup-new--image'
{
	from
	{
		box-shadow: fill #ffffff00 0px 0px 10px 0px;
	}

	10%
	{
		box-shadow: fill #ffffffff 0px 0px 10px 0px;
	}

	100%
	{
		box-shadow: fill #ffffff00 0px 0px 10px 0px;
	}
}

#id-eom-skillgroup__image{

	horizontal-align: center;
	vertical-align: middle;

	width: 250px;
	height: width-percentage( 40% );

	animation-name: eom-skillgroup-new--image;
	animation-duration: 3.1s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-iteration-count: 1;

	box-shadow: fill #ffffff00 0px 0px 10px 0px;

	margin-bottom: 10px;
}

.eom-rank__model
{
	width: 300px;
	height: 300px;
}


#id-eom-skillgroup--new__label{

	horizontal-align: center;
	font-size: 20px;
	position:0% 0px 0px;
	
}

.center{
	horizontal-align: center;
}

.flowdown{
	flow-children: down;
}


.metallic{

	color: gradient( linear, 0% 0%, 0% 120%, from( white ), to( rgb(157, 163, 167) ));
	text-shadow: 1px 1px 1px 1.5 #333333b0;

}


@keyframes 'text-sheen'
{

	0%
	{
		color: gradient( linear, 0% 0%, 30% 30%, 
		from(#ffffff00), 
		color-stop( 0.0, #ffffff00),
		color-stop( 0.25, #ffffffff), 
		color-stop( 0.5, #ffffff00),
		to( #ffffff00) );
	}

	10%
	{
		color: 
		gradient( linear, 70% 70%, 100% 100%, 
		from(#ffffff00), 
		color-stop( 0.5, #ffffff00),
		color-stop( 0.75, #ffffffff), 
		color-stop( 1.0, #ffffff00),
		to( #ffffff00) );
	}

	100%
	{
		color: 
		gradient( linear, 70% 70%, 100% 100%, 
		from(#ffffff00), 
		color-stop( 0.5, #ffffff00),
		color-stop( 0.75, #ffffffff), 
		color-stop( 1.0, #ffffff00),
		to( #ffffff00) );
	}

}


.sheen{

	animation-name: text-sheen;
	animation-duration: 8s;
	animation-delay: 1.0s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;

	color: #FFFFFF00;

}

Label.sheen{
	text-shadow-fast: none;
}



           

#id-eom-skillgroup__wins{

	flow-children: right;

	position: 0px 0px 0px;

	horizontal-align: center;

	                                             


}


                                  
#id-eom-skillgroup__wins Image{

	margin-left: 10px;
	margin-right: 10px;
}
